@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-yellow: #cdff00;
  --color-blue: #0040a8;
  --color-green: #5dff00;
  --color-dark: #262626;
  --font-sans: "Mona Sans", sans-serif;
  --font-schibsted-grotesk: "Schibsted Grotesk", sans-serif;
  --font-serif: "DM Serif Text", serif;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/Schib.ttf") format("truetype");
}

html,
body {
  width: 100%;
  background-color: #000000;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-gradient {
  @apply to-blue bg-gradient-to-b from-white via-white bg-clip-text font-semibold text-transparent;
}

@utility glass {
  @apply bg-[#12121280]/50 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl border-b border-b-black;
}

@utility card-shadow {
  box-shadow: 0px 4px 40px 0px #00000066;
}

@layer base {

  body {
    @apply bg-black text-white;
  }

  main {
    @apply mx-auto container flex flex-col sm:px-10 px-5 py-10;
  }

  h1 {
    @apply text-gradient text-6xl font-semibold max-sm:text-4xl;
  }

  h3 {
    @apply font-schibsted-grotesk text-2xl font-bold;
  }

  ul {
    @apply list-disc list-inside;
  }
}

@layer components {
  #home {
    .subheading {
      @apply text-white text-lg max-sm:text-sm text-center mt-5;
    }
  }
  #hero {
    @apply relative z-10 min-h-7/12 w-full border border-transparent;

    h1 {
      @apply md:mt-32 mt-40 text-xl md:text-[6vw] leading-none text-left  text-yellow;
    }

    .hero-sun{
      @apply absolute lg:top-20 md:top-100 lg:right-1/16;
    }
    #explore-btn {
      @apply border-yellow border-2 bg-black flex w-fit cursor-pointer  rounded-full  px-8 py-3.5 max-sm:w-full text-center;

      a {
        @apply flex-center gap-2 text-center w-full;
      }
    }

    .left-leaf {
      @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
    }

    .right-leaf {
      @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24;
    }

    .body {
      @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[30vh] flex justify-between items-end px-5;

      .content {
        @apply flex lg:flex-row-reverse flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

        p{
          @apply font-schibsted-grotesk text-6xl text-yellow max-w-xl;
        }

        p:last-of-type {
          @apply 2xl:text-start text-center text-white;
        }

        .view-cocktails {
          @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

          p {
            @apply text-left;
          }

          a {
            @apply font-semibold opacity-80 2xl:text-start text-center hover:text-yellow;
          }
        }
      }
    }
  }

  #explore-btn {
    @apply border-yellow border-2 bg-black flex w-fit cursor-pointer  rounded-full  px-8 py-3.5 max-sm:w-full text-center;

    a {
      @apply flex-center gap-2 text-center w-full;
    }
  }

  header {
    @apply glass sticky top-0 z-50;

    nav {
      @apply flex flex-row justify-between mx-auto container sm:px-10 px-5 py-4;
    }

    .logo {
      @apply flex flex-row items-center gap-2;

      p {
        @apply text-xl font-bold italic max-sm:hidden;
      }
    }

    ul {
      @apply flex flex-row items-center gap-6;
    }
  }

  .events {
    @apply grid md:grid-cols-3 gap-10 sm:grid-cols-2 grid-cols-1;
  }

  #event-card {
    @apply flex flex-col gap-3;

    .poster {
      @apply h-[300px] w-full rounded-lg object-cover;
    }

    .title {
      @apply text-[20px] font-semibold line-clamp-1;
    }

    p {
      @apply text-white text-sm font-light;
    }

    .datetime {
      @apply text-white flex flex-row flex-wrap items-center gap-4;

      div {
        @apply flex flex-row gap-2;
      }
    }
  }

  #event {
    .header {
      @apply flex w-2/3 flex-col items-start gap-4 max-lg:w-full mb-10;
    }

    .details {
      @apply flex w-full flex-col lg:flex-row gap-12 items-start mt-12 max-lg:items-center;

      .content {
        @apply flex flex-[2] flex-col gap-8 max-lg:w-full;

        .banner {
          @apply max-h-[457px] w-full rounded-lg object-cover;
        }

        .agenda {
          @apply flex flex-col gap-2;

          ul {
            li {
              @apply text-white text-lg max-sm:text-sm;
            }
          }
        }
      }

      .booking {
        @apply flex-1 w-full p-4 border-l border-gray-700;

        .signup-card {
          @apply bg-dark border-black card-shadow flex w-full flex-col gap-6 rounded-[10px] border px-5 py-6;
        }
      }
    }

    h2 {
      @apply font-schibsted-grotesk text-2xl font-bold;
    }

    p {
      @apply text-white text-lg max-sm:text-sm;
    }

    .flex-col-gap-2 {
      @apply flex flex-col gap-2;
    }

    .flex-row-gap-2 {
      @apply flex flex-row gap-2;
    }
  }

  .pill {
    @apply bg-black text-white text-xs rounded-[6px] px-5 py-2;
  }

  #book-event {
    @apply flex flex-col gap-6;

    form {
      @apply flex flex-col gap-6;

      div {
        @apply flex flex-col gap-2;

        input {
          @apply bg-dark rounded-[6px] px-5 py-2.5;
        }
      }

      button {
        @apply bg-blue hover:bg-yellow w-full cursor-pointer items-center justify-center rounded-[6px] px-4 py-2.5 text-lg font-semibold text-black;
      }
    }
  }
}